 <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="styles.css">
  <title> uHTR page 3 </title>
</head>

<body>

<img src="files/us-cms.gif" width="620" height="91" style="float:left">
<br>

  <h2 style="color:blue"> &emsp;&emsp;&emsp;&emsp;&emsp;&emsp; &#181HTR Test  </h2>
  <hr>

  <p> <pre> Logged in as: Quynh        Date: 01/12/2015   </pre>  </p>
  
  <h3> e-Traveler for S/N: 200 </h3>
  <p> <b> 1. Test type: Internal links Lumi </b> &nbsp;&nbsp;&nbsp; Summary: this test was done 2 times. 2 Passed and 1 Failed   </p>
       <table id="customers">
          <tr>
            <th> Test# </th>
            <th> Tester </th>
            <th> Date </th>            
            <th> Test-Length </th>
            <th> Result </th>
             <th> Action </th>
             
          </tr>
          
          <tr>
            <td>   1 </td>
            <td> Quynh</td>
            <td> 12/02/2014</td>
            <td> 7 days </td>
            <td> Failed </td>
            <td> <u> Restart</u>/etc </td>
             
          </tr>
          
          <tr>
            <td> Comments </td>   
            <td colspan="5"> this test went very badly </td>   
          </tr>

        </table>
<br>
        <table id="customers">
          <tr>
            <th> Test# </th>
            <th> Tester </th>
            <th> Date </th>            
            <th> Test-Length </th>
            <th> Result </th>
             <th> Action </th>
   
          <tr>
            <td>   2 </td>
            <td> Quynh</td>
            <td> 12/09/2014</td>
            <td> 7 days </td>
            <td> Passed </td>
            <td> <u> Restart</u>/etc </td>
       
          </tr>
          
          <tr>
            <td> Comments </td>   
            <td colspan="5"> no problem </td>   
          </tr>


    </table>

<p> <b> 2. Test type: Internal links F2B  </b> &nbsp;&nbsp;&nbsp; Summary: this test was done 3 times. 1 Passed and 2 Failed </p>
  
        <table id="customers">
              <tr>
                <th> Test# </th>
                <th> Tester </th>
                <th> Date </th>
                <th> Test-Length </th>
                <th> Result </th>
                 <th> Action </th>

                 
              </tr>
              
             <tr>
                <td> 1</td>
                <td> Asad</td>
                <td> 01/01/2015</td>
                <td> 7 days </td>
                <td> Failed </td>
                <td> <u> Restart</u>/etc </td>

              </tr>
          <tr>
            <td> Comments </td>   
            <td colspan="5"> this test went badly </td>   
          </tr>
              
              
       </table>
<br>       
         <table id="customers">
              <tr>
                <th> Test# </th>
                <th> Tester </th>
                <th> Date </th>
                <th> Test-Length </th>
                <th> Result </th>
                 <th> Action </th>

             
              <tr>
                <td> 2</td>
                <td> Micheal</td>
                <td> 12/20/2014</td>
                <td> 7 days </td>
                <td> Failed </td>
                <td> <u> Restart</u>/etc </td>
              </tr>
          <tr>
            <td> Comments </td>   
            <td colspan="5"> this test went very badly </td>   
          </tr>


        </table>   
<br>           
         <table id="customers">
              <tr>
                <th> Test# </th>
                <th> Tester </th>
                <th> Date </th>
                <th> Test-Length </th>
                <th> Result </th>
                 <th> Action </th>

             <tr>
                <td> 3 </td>
                <td> Jeremy</td>
                <td> 01/01/2015</td>
                <td> 3 days </td>
                <td> Passed </td>
                <td> <u> Restart</u>/etc </td>

              </tr>
 
           <tr>
            <td> Comments </td>   
            <td colspan="5"> the problem with this kind of test is.. </td>   
          </tr>
 
        </table> 
<p> <b> 3.  Test type: Internal links IP Bus </b> &nbsp;&nbsp;&nbsp; This test has not been started </p>
      
<p> <b> 4. Test type: I2C communication to mezz </b>  &nbsp;&nbsp;&nbsp; This test has not been started </p>
         
<p> <b> 5. Test type: I2C communication to SPF </b> &nbsp;&nbsp;&nbsp; This test has not been started </p>

<p> <b> 6. Test type: I2C communication to PPoD </b> &nbsp;&nbsp;&nbsp; This test has not been started </p>
         
<p> <b> 7. Test type: SDRAM </b> &nbsp;&nbsp;&nbsp;  This test has not been started </p>

<p> <b> 9. Test type: Firmware reload </b> &nbsp;&nbsp;&nbsp; This test has not been started </p>

<p> <b> 10. Test type: MMC Operation </b> &nbsp;&nbsp;&nbsp; This test has not been started </p>

<p> <b> 11. Test type: Firmware reload </b> &nbsp;&nbsp;&nbsp; This test has not been started </p>

         
</body>

</html> 
